.idea/.name
.idea/compiler.xml
.idea/copyright/
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/
.idea/vcs.xml
.idea/workspace.xml
out/
*.iml
.idea/artifacts/turnstile_jar.xml
.DS_Store
.idea/libraries/
MANIFEST.MF
build/
dist/
libs/.DS_Store
